Checks: >
  -*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  hicpp-*,
  performance-*,
  concurrency-*,
  readability-*,
  modernize-*,
  portability-*,
  clang-analyzer-*
WarningsAsErrors: >
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  hicpp-*,
  performance-*,
  concurrency-*,
  readability-implicit-bool-conversion,
  readability-inconsistent-declaration-parameter-name
HeaderFilterRegex: ".*"
Exclude: '.*(generated/sbe/).*'